<h1>Shopping List</h1>
<table>
  <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @ingredients.each do |ingredient| %>  
      <tr>
      <td><%= ingredient.ingredient.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>