<section>
  <div>
    <h2>title</h2>
    <div>
      <p>preparation time:</p>
      <p>cooking time:</p>
      <p>description</p>
    </div>
    <div>
      <p>public</p>
    </div>
  </div>    
</section>